body {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  background-color: rgb(21, 31, 31);
  color: rgb(231, 227, 227);
  margin: 0;
  padding: 0;
}

header, main {
  padding: 20px;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, #f52828, #3936fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 10px;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

form {
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #555555;
  color: rgb(231, 227, 227);
  border: none;
  box-sizing: border-box;
}

button {
  margin-top: 0.5rem;
  background-color: rgb(140, 26, 155);
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(83, 15, 92);
}

@media screen and (min-width: 768px) {
  form {
    width: 50%;
    margin: 0 auto;
  }
}